<div class="container">
  <div class="row">
    <div class="col-xs">
      <span><a href="http://www.perfectcircle.co.za" target="_blank">&copy; Website design & development by Perfect Circle</a></span>
    </div>
  </div>
</div>

